:root {
    --cor-primaria: #35C45D;
    --cor-secundaria: #fff;
    --bg-color-green: rgb(203, 248, 214);
    --bg-color-gray: #F8F9FA;
    --fonte-titulo: 'Bebas Neue', sans-serif;
}

html{
    scroll-behavior: smooth;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        overflow-x: hidden;
        
        section {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        /* ------------ HEADER ------------  */
        
        header {
            
            .navbar-brand {
                color: var(--cor-primaria);
                margin-right: 40px;
                transition: .7s;
                font-family: var(--fonte-titulo);
                font-size: 2rem;
                
                img {
                    margin-right: 10px;
                    height: 60px;
                }
                
            }

        }
        
        /* ------------ HERO ------------  */
        
        .hero {
            background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url(../img/hero.jpeg);
            width: 100%;
            height: calc(100vh - 86px);
            color: var(--cor-secundaria);
            
            .hero-content {
                padding: 0 8%;
                display: flex; 
                align-items: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 36px;
                
                h1 {
                    font-size: 8rem;
                    font-family: var(--fonte-titulo);
                }
                
                p {
                    font-size: 1.4rem;
                    
                    @extend %smart-trash-color;
                }
                
                a {
    
                    @extend %btn-base;
                }
            }
        }

        /* ------------ Lixeira Inteligente ------------  */
        
        .lixeira-section {

            .lixeira-content {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
                gap: 25px;
                
                .container-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    padding: 25px;
                    
                    h2 {
                        text-align: center;
                    }
                    
                }
                
                .container-img {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        max-height: 500px;
                    }
                }

                @extend %container-text-base;
            }
            
            a {
                @extend %btn-base;
            }

            @extend %bg-color-gray;
            @extend %section-base;
        }
        
        /* ------------ Aplicativo ------------  */
        
        .app-section {
            
            .container-text {
                text-align: center;
                padding: 0 10%;
    
                p {
                    margin: 40px 0 50px 0;
                }
                
                @extend %smart-trash-color;
                @extend %container-text-base;
            }
            
            .container-img-app {
                width: 100%;
                padding: 2rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                
                .app-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: var(--bg-color-gray);
                    margin: 10px;
                    padding: 25px 40px;
                    border-radius: 20px;

                    h3 {
                        font-size: 2.5rem;
                        font-family: var(--fonte-titulo);
                        text-align: center;
                        margin-bottom: 26px;
                    }

                    img {
                        border: 6px solid #797676;
                        border-radius: 20px;
                        width: 100%;
                        box-shadow: 0 10px 20px 0 #b5b3b3;
                        transition: .5s;
                        
                        &:hover {
                            box-shadow: 0 0 20px 0 #2b8a40;
                            transform: scale(1.05)
                        }
                    }
                }
                
                
            }
            
            @extend %bg-color-green;
            @extend %section-base;
        }

        /* ------------ Coleta Seletiva ------------  */
        
        .coleta-section {
            min-height: 90vh;
            
            .coleta-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
                background-color: var(--cor-secundaria);
                gap: 50px;
                border-radius: 26px;
                padding: 20px 20px;
                
                .coleta-img {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        border-radius: 16px;
                        max-width: 100%;
                        max-height: 90%;
                    }
                }
                
                .container-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    padding: 25px;
                    
                    h2 {
                        text-align: center;
                    }
                }
                
        
                a {
                    @extend %btn-base;
                }
            }


            @extend %bg-color-gray;
            @extend %container-text-base;
            @extend %section-base;
        }

        
        /* ------------ Feedbacks - Cards ------------  */
        
        .cards-section {

            &-title {
                font-size: 4rem;
                font-weight: bolder;
                margin-bottom: 40px;
                font-family: var(--fonte-titulo);
            }
            
            .cards-container {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                padding: 2rem;
                margin: auto; 
                gap: 56px;  
                
                .feedback-container {
                    background-color: var(--cor-secundaria);
                    border-radius: 26px;
                    padding: 40px;
                    box-shadow: 0 0 30px 0 #b5b3b3;
                    transition: .5s;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.15);
                        box-shadow: 0 0 30px 0 #2b8a40;
                    }


                    .feedback-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;
                        
                        #nubank, #google {
                            height: 40px;
                        }
                        
                        #ibm {
                            height: 30px;
                        }
                        
                        #starbucks {
                            height: 50px;
                        }
                        
                        h2 {
                            font-size: 2.4rem;
                            text-align: center;
                            margin: auto 0;
                        }
                    }
                    
                    .feedback-text {
                        font-size: 1rem;
                        margin-top: 20px
                    
                    }

                }

            }
            
            @extend %bg-color-green;
            @extend %section-base;
        }

        /* ------------ Sobre ------------  */
        
        .sobre-section {
            
            .sobre-content{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
                gap: 25px;
                
                .container-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    padding: 25px;
                    
                    h2 {
                        text-align: center;
                    }
                    
                    a {
                        @extend %btn-base;
                    }
                    
                }
                
                .container-imagem {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logo-img {
                        max-height: 500px;
                    }
                }
            }
            
            @extend %bg-color-gray;
            @extend %container-text-base;
            @extend %section-base;
        }

        /* ------------ FOOTER ------------  */
        
        footer {
            height: 100px;
            width: 100%;
            background-color: var(--cor-primaria);
            display: flex;
            justify-content: center;
            align-items: center;

            .footer-content {
                color: var(--cor-secundaria);
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                width: 70%;
                
                div {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    a {
                        text-decoration: none;
                        color: #165c2b;
                        transition: .5s;
                    }
                    
                    a:hover {
                        color: black;
                    }
                }

            }
        }

    }

    /* ------------ FIM DO BODY ------------  */
}

/* ------------ FIM DO HTML ------------  */

%section-base {
    width: 100%;
    min-height: 70vh;
    padding: 7% 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%bg-color-green {
    background-color: var(--bg-color-green);
}

%bg-color-gray {
    background-color: var(--bg-color-gray);
}

%container-text-base {
    h2 {
        font-size: 4rem;
        font-weight: bolder;
        font-family: var(--fonte-titulo);
    }

    .texto {
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

%btn-base {
    padding: 10px 20px;
    border-radius: 20px;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: 2px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    
    &:hover {
        background-color: transparent;
        color: var(--cor-primaria);
    }
}

%smart-trash-color {
    span {
        font-weight: bold;
        color: var(--cor-primaria);
    }
}

@media (max-width: 990px) {
    .hero {
        display: flex;
        justify-content: center;

        &-content {
            width: 80%;
        }
    }
}

@media (min-width: 991px) {
    .hero {
        display: flex;
        justify-content: right;

        &-content {
            width: 60%;
        }
    }
}
