body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.container-text h2{
    font-size: 46px;
    font-weight: bolder;
}

.container-text{
    padding: 3% 10% 7% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    text-align: left;
    line-height: 1.5;
    margin-bottom: 80px;
    font-size: 18px;
}

#bg-img{
    width: 100vw;
    height: 80vh;
}

.section-bg{
    background-color: #e3f4d2;
}
