.btn-home{
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #6f9d3f;
    background-color: #6f9d3f;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 7px;
    transition: .5s;
}

.btn-home:hover{
    background-color: transparent;
    color: black;
}